application.properties

project thoughts:

ENDPOINTS TO HIT
Accounts:
    Checking detail - previous transactions and detail
    Savings detail - previous transactions and detail
User:
    Accounts overview - show account numbers and types

PAGES (including above)
Home - welcome, photos, etc
Login - username/password
Logout - return to home
Contact Us

OTHER
Use UUID to auto generate unique account IDs when created